<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
    </head>
    <body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<div ng-app="myApp" ng-controller="myCtrl">
<div id="bar"><p id="taxa">Do you have a {{customeritem}} by any chance?</p></div>
<table>
     <tr>
        <th><input placeholder="Check stock" ng-model="checkingstock" value="{{checkingstock}}" ng-keyup="querycheck()"></th>
        <th><input placeholder="Order stock" ng-model="orderingstock" value="{{orderingstock}}" ng-keyup="queryorder()"></th>
        <th>gold: {{gold}}</th>
    </tr>
    <tr>
        <th><p ng-show="selling">{{stock[item.indexOf(checkingstock)]}} in stock</p></th>
        <th><p ng-show="ordering">Per {{item[item.indexOf(orderingstock)]}}: {{cost[item.indexOf(orderingstock)]}} gold</p></th>
        <th>Time: {{clock}}:00</th>
    </tr>
    <tr>
        <th><p ng-show="selling">Sell for:</p></th>
        <th ng-show="ordering"><input placeholder="example: 20, 5, 3, etc" ng-model="buying" value="{{buying}}"></th>
        <th></th>
    </tr>
    <tr>
        <th><input ng-show="selling" placeholder="{{cost[0]}}" ng-model="sellingfor" value="{{sellingfor}}" type="number"></th>
        <th ng-show="ordering">Total: {{buying * cost[item.indexOf(orderingstock)]}}</th>
        <th></th>
    </tr>
    <tr>
        <th><button ng-show="selling" ng-click="selling=0">Cancel</button></th>
        <th ng-show="ordering"><button ng-click="ordering=0">Cancel</button></th>
        <th></th>
    </tr>
    <tr>
        <th><button ng-show="selling" ng-click="sold()">Sell</button></th>
        <th ng-show="ordering"><button ng-click="ordered()">Buy</button></th>
        
    </tr>
    <tr>
        <th><button ng-show="selling" ng-click="outofstock()">I Don't have any in stock</button></th>
        <th></th>
        
    </tr>
</table>
</div>    
<script src="myApp.js"></script>
<script src="myCtrl.js"></script>
</body>
</html>
